<% languages = ['HTML', 'CSS', 'JavaScript', 'Ruby', 'Python', 'Bash', 'TypeScript', 'PHP', 'GDScript', 'Git', 'Perl', 'Lua', 'SQL', 'Liquid', 'C#', 'C', 'C++', 'Rust', 'SASS', 'SCSS', 'GO', 'GraphQL', 'Arduino'] %>

<%= form_with model: code_snippet do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true, maxlength: 50, placeholder: "Enter the title of your snippet" %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, required: true, maxlength: 300, placeholder: "Enter a brief description of your snippet",  size: "100x10" %>
  </div>
  <div class="field">
    <%= form.label :language %>
    <%= form.select :language, languages, { include_blank: 'Select language of your code'}, required: true %>
  </div>
  <div class="field">
    <%= form.label :code %>
    <%= form.text_area :code, required: true, placeholder: "Paste your code here", size: "100x15" %>
  </div>
  <div class="action">
    <%= form.submit "Submit" %>
  </div>
<% end %>