<%= render 'public/header' %>
<section class="page-container">
  <div class="snippet">
    <h2 class="snippet__title"><%= @code_snippet.title %></h2>
    <div class="snippet__meta">
      <p><i class="fa-solid fa-user-astronaut"  style="color: #9C27B0;"></i> <%= @code_snippet.user.name %></p>
      <p><i class="fas fa-file-code" style="color: #007BFF;"></i> <%= @code_snippet.language %></p>
      <p><i class="fas fa-star" style="color: #FFC107;"></i> <%= @code_snippet.stars_counter || 0 %></p>
      <p><i class="fas fa-comments" style="color: #28A745;"></i> <%= @code_snippet.comments_counter || 0 %></p>
    </div>

    <p class="snippet__description"><%= @code_snippet.description %></p>

    <pre><code class=<%= "language-" + @code_snippet.language %>><%= @code_snippet.code %></code></pre>

    <div>
      <%= link_to "Rate this snippet", new_code_snippet_rating_path(@code_snippet), class: "btn btn-outline" %>
      <% if current_user == @code_snippet.user %>
        <%= link_to "Edit this snippet", edit_code_snippet_path(@code_snippet) %>
      <% end %>
    </div>
  </div>
  <%= render 'comments/form', snippet: @code_snippet, comment: Comment.new %>

  <section class="comment-section">
    <h3><%= pluralize(@code_snippet.comments_counter, 'Comment') %></h3>

    <% if @code_snippet.comments.empty? %>
      <p>No one has commented yet!</p>
    <% else %>
      <section class="comment-list">
        <% @code_snippet.comments.each do |comment| %>
          <%= render 'comments/item', comment: comment %>
        <% end %>
      </section>
    <% end %>
    
  </section>

</section>