<main class="page-container snippet-page">
  <section class="snippet-container">
    <header class="snippet-container__header">
      <%# Button to back to snippet index page %>
      <%= link_to code_snippets_path, class: "back-btn" do %>
        <i class="fa-solid fa-arrow-left"></i> Back
      <% end %>
      <%# Button to edit snippet %>
      <%= link_to edit_code_snippet_path(@snippet), class: "edit-btn" do %>
        <i class="fa-solid fa-pen"></i> Edit
      <% end %>
    </header>
    <%# Snippet Component %>
    <article class="snippet">
      <header class="snippet__header">
        <h2 class="snippet__title"><%= @snippet.title %></h2>
        <div class="snippet__metadata">
          <p><%= @snippet.created_at.strftime("%b %e, %Y") %></p>
          <i class="fa-solid fa-code-commit"></i>
          <p><%= @snippet.language %></p>
        </div>
      </header>
      <blockquote>
        <p class="snippet__description"><%= @snippet.description %></p>
      </blockquote>
      <%= render 'code_snippets/code_block', snippet: @snippet %>
      <%# Metrics about snippet %>
      <div class="snippet__metrics">
        <p><%= pluralize(@snippet.stars_counter, 'Star') %></p>
        <p><%= pluralize(@snippet.comments_counter, 'Comment') %></p>
      </div>
      <%# Actions bar for snippet: Star, comment, bookmark , share%>
      <%= render 'code_snippets/actions', snippet: @snippet %>
    </article>
    <%# Form to add a comment %>
    <%= render 'comments/form', snippet: @snippet, comment: Comment.new %>
    <%# Comments for snippet %>
    <section class="comment-section">
      <% if @snippet.comments.empty? %>
        <p>No one has commented yet!</p>
      <% else %>
        <section class="comment-list">
          <% @snippet.comments.each do |comment| %>
            <%= render 'comments/item', comment: comment %>
          <% end %>
        </section>
      <% end %>
    </section>
  </section>
  <%# Sidebar %>
  <aside>
    <div class="snippet-sidebar">
      <%# Contributor card %>
      <%= link_to contributor_path(@snippet.user) do %>
        <div class="snippetAuthorCard">
          <span>Author</span>
          <figure class="snippetAuthorCard__figure">
            <%= render 'shared/author_icon', author: @snippet.user %>
            <figcaption class="snippetAuthorCard__infos">
              <h3 class="snippetAuthorCard__name"><%= @snippet.user.name %></h3>
              <p class="snippetAuthorCard__bio"><%= @snippet.user.bio %></p>
            </figcaption>
          </figure>
        </div>
      <% end %>
    </div>
  </aside>
</main>
