<div class="snippet-item contributor-snippet-card">
    <header class="snippet-item__header contributor-snippet-header">

        <h3><%= link_to snippet.title, code_snippet_path(snippet), class: "link snippet-item__link" %></h3>
        <span class="link-arrow">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </span>
        <button class="snippet-item__menu-btn"> 
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
    </header>
    <div>
        <small><%= snippet.created_at.strftime("%b %e, %Y") %></small>
        <i class="fa-solid fa-code-commit"></i>
        <small><%= snippet.language %></small>
    </div>
    <pre><code class=<%= "language-" + snippet.language %>><%= snippet.code %></code></pre>
    <div class="snippet-item__counters">
        <p><i class="fa-solid fa-star" style="color: orange;"></i> <%= snippet.stars_counter || 0 %> </p>
        <p><i class="fa-solid fa-message" style="color: skyblue;"></i> <%= snippet.comments_counter || 0 %> </p>
    </div>
</div>