<section class="page-container">
  <div class="contributor">
    <div class="contributor-left">
      <img src="<%= @contributor.avatar_url%>" class="user-image contributor-details-image">
      <h3 class="contributor-title"><%= @contributor.name %></h3>
      <p class="contributor-bio"><%= @contributor.bio %></p>
      <% if current_user == @contributor %>
        <%= link_to edit_contributor_path(@contributor) do %>
          <i class="fa-solid fa-pen edit-profile"></i>
        <% end %>
      <% end %>
      <%# Displays a list of starred snippets for this user #%>
      <section style="margin: 80px 20px 0 0; border-top: solid 1px #ccc; padding: 4px;">
        <h4 style="margin-bottom: 10px;">Starred Snippets</h4>
        <ul style="text-decoration: underline 2px solid purple; display: grid; gap: 5px;">
          <% @starred_code_snippets.each do |snippet| %>
            <li>
              <%= link_to snippet.title, code_snippet_path(snippet), class: "contributor-snippet" %>
            </li>
          <% end %>
        </ul>
      </section>
      <%# Displays a list of bookmarked snippets for this user #%>
      <section style="margin: 80px 20px 0 0; border-top: solid 1px #ccc; padding: 4px;">
        <h4 style="margin-bottom: 10px;">Bookmarked Snippets</h4>
        <ul style="text-decoration: underline 2px solid purple; display: grid; gap: 5px;">
          <% @bookmarked_code_snippets.each do |snippet| %>
            <li>
              <%= link_to snippet.title, code_snippet_path(snippet), class: "contributor-snippet" %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
    <div class="contributor-right">
      <% @contributor.code_snippets.each do |snippet| %>
        <div class="contributor-snippets">
          <%= render 'card', snippet: snippet %>
        </div>
      <% end %>
    </div>
  </section>
